:root
{
  --background-color: #eaeaea;
  --primary-color: #F8433F;
  --secondary-color: #FFFFFF;
  --text-color: #5c5369;
  --date-font: rgba(92,83,105,0.65);
  --positive-variant-color: #87d883;
  --negative-variant-color: #f55a5f;

}

*{box-sizing: border-box;}

html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Segoe UI', sans-serif;
}
